
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container{
    max-width: 1280px;
    padding: 0 2%;
    margin:  0 auto;
}

.clear{
    clear: both;
}

input[type=submit],
input[type=text],
input[type=email],
textarea{
    appearance: none;
    -webkit-appearance: none;
}

body{
    overflow-x: hidden;
    background: rgba(224,244,244,0.5);
}

/*header*/
header{
    padding: 30px 0;
    background-image: url('../Img/bg.jpg');
    min-width: 450px;
    background-size: cover;
    background-position: center;
}

.logo h1{
    position: relative;
    z-index: 998;
    color: rgb(246, 244, 244);
    font-weight: 300;
    float: left;
    width: 132px;
    height: 20px;
}

nav.desktop{
    float: right;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop  li{
    display: inline-block;
    margin: 0 15px;
}


nav.desktop a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav li.btn-nav{
    padding: 3px 8px;
    border-radius: 28px;
    border: 1px solid rgb(255, 255, 255);
}


nav.mobile{
    display: none;
    float: right;
}
nav.mobile ul{  
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    padding: 70px 3px 10px ;
    background: #31475e;
    display: none;
    text-align: center;
}

nav.mobile li{
    padding: 10px 0;
}
nav.mobile li.btn-nav{
    padding: 4px 10px;
    display: inline-block;
}

nav.mobile a{
    display: block;
   color: white;
   text-decoration: none;
}

nav.mobile h3{
    position: relative;
    z-index: 999;
    color: white;
    cursor: pointer;
    font-size: 26px;
}

.chamada-header{
    padding: 110px 0;
}


.chamada-header h2{
    font-size: 47px;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.chamada-header  p{
    color: rgb(255, 255, 255);
    font-size:14px;
    max-width: 680px;
}
.chamada-header form{
    margin-top: 20px;
}

.chamada-header input[type=email]{
    display: inline-block;
    border-radius: 100px;
    width: 237px;
    height: 35px;
    padding-left: 10px;
}

.chamada-header input[type=email]:focus{outline: 0;}

.chamada-header input[type=submit]{
    display: inline-block;
    border-radius: 100px;
    width: 237px;
    height: 35px;
   background-color: #ff5f27;
   border: 0;
   color: aliceblue;
   cursor:pointer;
}

.descricao_danki{
    text-align: center;
    padding: 30px 0;
}


.descricao_danki2 > .container{
    max-width: 960px;
}
.descricao_danki p{
    display: inline-block;
    max-width: 600px;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
}

.descricao_danki2{
    padding: 30px 0;
}

.texto_descricao{
    float: left;
    padding: 0 15px;
    width: 55%;
}

.texto_descricao h3{
    color: #31475e;
    font-size: 26px;
    line-height: 32px;
}



.texto_descricao p{
    color: #31475e;
    font-size: 19px;
    margin-top: 15px;
    line-height: 32px;
}




.descricao_danki3{
    padding: 30px 0 60px 0;
}

.descricao_danki3 > .container{
    background-image: url(../Img/bg2.jpg);
    background-size: cover;
    min-height: 350px;
    max-width: 960px;
    position: relative;
}

.box-depoimento {
    background: white;
    position: absolute;
    left: 50%;
    width: 60%;
    max-width: 500px;
    padding: 10px 30px;
    bottom: -30px;
}

.box-depoimento p{
    font-size: 17px;
    font-weight: lighter;
}

.servicos{
    padding: 25px 0;
}


.servicos > .container{
    max-width: 1100px;
}
.title_servicos{
    text-align: center;
}

.title_servicos h3{ 
    text-align: center;
}


.flex_servicos{
    display: flex;
    flex-wrap: wrap;
}

.box_servicos{
    border: 10px solid  rgba(224,244,244,0.5);
    border-radius: 3px ;
    background-color: #ffff;
    width: 33.3%;
}

.box_servicos > img{
    width: 100%;
    

}

.box-servicos-wraper{
    padding:10px;
}

.box-servicos-wraper h2{
    color: #31475e;
    font-size:20px ;
    font-weight: normal;
}

.box-servicos-wraper p{
    text-align: justify;
    font-weight: lighter;
    font-size: 15px;
    margin: 8px 0;
    color: #6a7c92;
}

.box-servicos-wraper a{
    text-decoration: none;
    text-align: center;
    display: block;
    width: 120px;
    color: #31475e;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #31475e;
}


section.portifolio{
    padding: 20px 0;
    background: white;
}

section.portifolio h2{
    text-align: center;
    font-weight: normal;
    color: #31475e;
}

section.portifolio >.container{
    max-width: 960px;
    padding: 15px 0;
    background: #f7f7f7;
}

.empresas{
    padding: 10px 0;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.empresas_single{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px 0 1px ;
    border-color: #eceeec;
    width: 25%;
}

.empresas .empresas_single:last-child{
    border: 1px solid #eceeec;
}

.formulario{
    padding: 30px 0;
}

.formulario h2{
    text-align: center;
    font-weight: normal;
    color: black;
}

.formulario form{
    margin-top: 10px;
}

.formulario .container{
    max-width: 960px;
}

.formulario input[type=text]{
    width: 100%;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #31475e;
    margin-top: 8px;
    padding-left: 10px;
}

.formulario input[type=text]:focus{
    outline: 0;
}


textarea{
    width: 100%;
    height: 120px;
    resize: vertical;
    border: 1px solid #31475e;
    margin-top: 8px;
    border-radius: 20px ;
    padding: 10px;
}

input[type=submit]{
    width: 130px;
    height: 38px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    border: none;
    background: #ff5f27;
    border-radius: 100px;
}


footer{
    padding: 50px 0;
}

.box-footer{
    width: 33.3%;
    float: left;
    padding: 0 15px;
}

.box-footer h2{
    font-size: 22px;
    color: #31475e;
    font-weight: normal;
}


.box-footer p{
    color: #6a7c92;
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
}


.box-footer form{
    margin-top: 10px ;
}

.box-footer button{
    max-width: 63px;
    width: calc(20% - 10px);
    margin-left: 10px;
    height: 43px;
    border: 1px solid #31475e;
    border-radius: 20px;
    background: white;
}

.box-footer i{
    color:#31475e ;
}

.box-footer input{
    width:80%;
    height: 43px;
    max-width: 200px;
    padding-left: 10px;
    border-radius: 100px ;
    background: white;
    border: solid 1px #bfbfbf;
}

.box-footer input[type=text]:focus{
    outline: 0;
}
@media screen and (max-width: 1024px){
    nav.desktop{ display: none; }
    nav.mobile{ display: block;}

    .chamada-header{ text-align: center; }


    .chamada-header  p{
    display: inline-block;
    }

    .chamada-header input[type=email]{
        margin-bottom: 30px;
    }

    .box-depoimento {
        background: white;
        position: absolute;
        left: 50%;
        top: 50% ;
        transform: translate(-50%,-50%);
        width: 80%;
        max-width: 500px;
        padding: 10px 30px;
        bottom: auto;
    }



}


@media screen and (max-width: 768px){
    .texto_descricao{
        width: 100%;
    }

    .descricao_danki2 img{
        width: 100%;
        display: block;
        margin: 0 auto;
        float: none;
        max-width: 500px;
    }

    .box_servicos{
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
    }

    .empresas_single{
        max-width: 640px;
        width: 100%;
        margin: 15px auto;
        border: 1px solid #eceeec;
    }

    .box-footer{
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
}
